package $!{event.View.gyomu.Project.PackageName}model.bean.$!{event.View.gyomu.FnctionId};

import java.io.Serializable;

import lombok.Data;

@Data
public class $!{event.View.ViewId}$!{event.Varname}InputBean implements Serializable {
    /** シリアルUUID */
    private static final long serialVersionUID = 1L;
}
